<!-- app/views/devise/mailer/reset_password_instructions.html.erb -->
<h1>Redefinição de senha</h1>

<p>Olá <strong><%= @resource.name || @resource.email.split('@').first %></strong>,</p>

<p>
  Você solicitou a alteração de senha da sua conta.  
  Digite o código abaixo no aplicativo ou site para continuar:
</p>

<div class="code-box"><%= @reset_code %></div>

<p>Este código expira em 30&nbsp;minutos. Caso não tenha solicitado, simplesmente ignore esta mensagem.</p>
