name: Schedule Fly Commands

on:
  schedule:
    - cron: "0 14 * * *" # 11h no Brasil
    - cron: "0 1 * * *" # 22h no Brasil

jobs:
  control:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Flyctl
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Start machine at 11:00 BRT
        if: github.event.schedule == '0 14 * * *'
        run: flyctl machines start 48ed461c792d48
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

      - name: Stop machine at 22:00 BRT
        if: github.event.schedule == '0 1 * * *'
        run: flyctl machines stop 48ed461c792d48
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
