name: Schedule Fly Commands

on:
  schedule:
    - cron: "0 13 * * *" # 10h no Brasil
    - cron: "0 0 * * *" # 21h no Brasil

jobs:
  control:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Flyctl
        uses: superfly/flyctl-actions/setup-flyctl@master

      - name: Start machine at 10:00 BRT
        if: github.event.schedule == '0 13 * * *'
        run: fly machines start 48ed461c792d48
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}

      - name: Stop machine at 21:00 BRT
        if: github.event.schedule == '0 0 * * *'
        run: fly machines stop 48ed461c792d48 --yes
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
